<div class="row">
	<div class="col-md-6">
		<h1>Список продуктов для <%= @product_group.name %></h1>
		<span>Количество: <%= @products.count %></span>
	</div>

</div>

<%= will_paginate @products %>

<%= render 'shared/product_list' %>
